<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link type="text/css" rel="stylesheet"  href="/css/bootstrap.min.css" />
  </head>
  <body>
    {{{body}}}
    <div id="root"></div>
    <script charset="utf-8" src="/js/admin-common.js"></script>
    <script charset="utf-8" src="/js/admin-{{modelName}}.js"></script>
  </body>
</html>
